# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars

# Docker
*.tar.gz

# LocalStack data
localstack/data/*
!localstack/data/.gitkeep

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Elastic
elasticsearch-data/

# Grafana
grafana-data/

# Prometheus
prometheus-data/
